absl-py==0.12.0
altair==4.1.0
argon2-cffi==20.1.0
astor==0.8.1
astroid==2.2.5
astunparse==1.6.3
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
base58==2.0.1
bleach==3.2.1
blinker==1.4
blis==0.7.4
boto3==1.15.6
botocore==1.18.6
Brotli==1.0.9
cached-property==1.5.2
cachetools==4.1.1
catalogue==2.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
clang==5.0
click==7.1.2
colorama==0.4.1
Counter==1.0.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
dash==1.19.0
dash-bootstrap-components==0.11.3
dash-colorscales==0.0.4
dash-core-components==1.15.0
dash-daq==0.5.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
decorator==4.4.2
defusedxml==0.6.0
dtale==1.38.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
entrypoints==0.3
enum-compat==0.0.3
et-xmlfile==1.0.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
grpcio==1.39.0
h5py==3.1.0
idna==2.10
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata==2.0.0
importlib-resources==5.1.2
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
kaleido==0.2.1
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lz4==3.1.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.0
mccabe==0.6.1
mistune==0.8.4
mlxtend==0.18.0
murmurhash==1.0.5
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
networkx==2.5
notebook==6.1.4
numpy==1.19.5
oauthlib==3.1.0
opencv-contrib-python==4.5.2.52
opencv-contrib-python-headless==4.5.2.52
opencv-python==4.5.1.48
openpyxl==3.0.5
opt-einsum==3.3.0
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pathtools==0.1.2
pathy==0.4.0
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.14.3
ppscore==1.2.0
preshed==3.0.5
prettytable==2.1.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.3
pydeck==0.5.0b1
Pygments==2.7.1
pylint==2.3.1
pyparsing==2.4.6
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.2
regex==2020.10.28
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
s3transfer==0.3.3
scikit-learn==0.24.1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
six==1.15.0
smart-open==3.0.0
smmap==4.0.0
squarify==0.4.3
srsly==2.4.0
statsmodels==0.11.1
streamlit==0.87.0
strsimpy==0.2.0
sweetviz==2.0.9
tensorboard==2.6.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
thinc==8.0.2
threadpoolctl==2.1.0
tk==0.1.0
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
tqdm==4.51.0
traitlets==5.0.4
typed-ast==1.4.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.10
validators==0.18.1
wasabi==0.8.2
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.0
wrapt==1.12.1
xarray==0.17.0
xlrd==2.0.1
zipp==3.2.0
